{% extends "baseAfterLogin.html" %}
{% block body %}
    <div class="item-detail">
        <h2> Add Charges </h2>
        <p>{{ societyName }}</p>
    </div>

    <div class="form-check mx-5"  >
    <form method="POST" action="addDefaultCharges">
            {% csrf_token %}
            <table class="table">
            {% for field in form %}
            {%if field.label in selected_fields%}
            <tr>
               <td> {{ field.label }}</td>
               <td>   {{ field }}</td>
            </tr>
            {%endif%}
        {% endfor %}
            </table>
        <button type="submit" class="btn btn-primary">Add</button>
  </form>
    </div>
 


{% endblock %}