{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Charges Detail</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/img/favicon.png' %}" rel="icon">

      <!--Data Table-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript"  src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
      <script type="text/javascript"  src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    
         <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
          <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
          <script>
            function myFunction() {
              var input, filter, table, tr, td, cell, i, j;
              input = document.getElementById("search");
              filter = input.value.toUpperCase();
              table = document.getElementById("chgTable");
              tr = table.getElementsByTagName("tr");
              for (i = 1; i < tr.length; i++) {
                // Hide the row initially.
                tr[i].style.display = "none";
              
                td = tr[i].getElementsByTagName("td");
                for (var j = 0; j < td.length; j++) {
                  cell = tr[i].getElementsByTagName("td")[j];
                  if (cell) {
                    if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                      tr[i].style.display = "";
                      break;
                    } 
                  }
                }
              }
            }
          </script>
  

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

   <!-- Vendor CSS Files -->
   <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">   
   
   <!--Bootsrap 4 CDN-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     
   <!--Fontawesome CDN-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 
 
   <!-- Template Main CSS File -->
   <link href="{% static '/css/societystyle.css' %}" rel="stylesheet">

 
 </head>
 
 <body>

   <!-- Sidebar -->
  <nav class="sidebar">
                  
    <!-- close sidebar menu -->
    <div class="dismiss">
      <button class="btn btn-light" type="button" >
        <i class="bi bi-list" ></i>
      </button>
    </div>

    <div class="logo">
      <h1 class="text-light">
          <a href=""><span><b>Orange</b></span></a>
      </h1>
    </div>
    <div class="border-top my-3"></div>
    <div class="dropdown">
      <button class="btn btn-light btn-get-started scrollto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bx bx-plus bx-sm"></i>
        <h4>Add New </h4>
        <a class="bi bi-chevron-double-down"></a>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="/add_new_society">Society</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/add_member">Members</a></li>
      </ul>
    </div>
    <div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-houses-fill"></i>
        </div>
        <h3 class="side-title"><a href="/society_detail">Society Detail</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-people-fill"></i>
        </div>
        <h3 class="side-title"><a href="/member_detail/ /">Member Detail</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-currency-rupee"></i>
        </div>
        <h3 class="side-title"><a href="/charges_detail/ /">Charges Detail</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-file-earmark-text-fill"></i>
        </div>
        <h3 class="side-title"><a href="">Bill</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-receipt-cutoff"></i>
        </div>
        <h3 class="side-title"><a href="">Receipt</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-recycle"></i>
        </div>
        <h3 class="side-title"><a href="">Ledger</a></h3>                       
      </div>
    </div>
    <div class="border-top my-3"></div>
    <div class = "button">
        <button class="btn-logout" type="logout"> 
          Logout
        </button>
    </div>
  </nav>  
  <!-- Dark overlay -->
  <div class="overlay">
  </div>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
     <div class="container d-flex align-items-center justify-content-between">
 
      <div class="logo">
        <h1 class="text-light">
        <!--<a href="index.html"><img src="{%static '/img/logo.png' %}" alt="" class="img-fluid"></a>-->
           <a class="btn btn-light open-menu" href="#" role="button">
            <i class="bi bi-list" href=""></i>
           </a>
            <a href=""><span><b>Orange</b></span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
      </div>
 
       <nav id="navbar" class="navbar">
         <ul>
           <li><a class="getstarted scrollto" href="">Upgrade</a></li>
         </ul>
         <i class="bi bi-list mobile-nav-toggle"></i>
       </nav><!-- .navbar -->
 
     </div>
   </header><!-- End Header -->


   <!-- ======= charges-detail Section ======= -->
   <section id="charges-detail" class="d-flex align-items-top">
    <div class="container">
      <div class="row gy-4 justify-content-between">
        <div class="col-lg-5  d-flex flex-column justify-content-top">
          <h1>Charges Detail</h1>
        </div >
        <!-- Button trigger modal -->
        <div class="col-lg-3 d-flex flex-column justify-content-left" >
          <a href="#" class="btn-get-started scrollto" data-bs-toggle="modal" data-bs-target="#exampleModal"> 
            <i class="bx bx-plus"></i>
            Generate Charges
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="generateLabel">Generate Charges for selected Month</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Please select month:</p>
                <div class="col-md-5">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>Select Month</option>
                    <option value="1">Jan</option>
                    <option value="2">Feb</option>
                    <option value="3">Mar</option>
                    <option value="4">Apr</option>
                    <option value="5">May</option>
                    <option value="6">Jun</option>
                    <option value="7">Jul</option>
                    <option value="8">Aug</option>
                    <option value="9">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                  </select>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Generate</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 d-flex flex-column "> 
          <h4>Select Society</h4>
        </div>
      </div>
      <div class="row d-flex justify-content-between">
        <div class="col-md-3 p-2">
          <div class="input-group">
                <button class="btn btn-society" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{name}}
                  <a class="bi bi-chevron-double-down"></a>
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  {% for item in society_list %}
                  <li><a class="dropdown-item "  href="{% url 'charges_detail' name=item %}">{{item}}</a></li>
                  <li><hr class="dropdown-divider"></li>
                  {%endfor%}
                </ul>
           </div>
        </div>
        <div class="col-md-2 p-2">
          <select class="form-select" aria-label="Default select example">
            <option selected>Select Month</option>
            <option value="1">Jan</option>
            <option value="2">Feb</option>
            <option value="3">Mar</option>
            <option value="4">Apr</option>
            <option value="5">May</option>
            <option value="6">Jun</option>
            <option value="7">Jul</option>
            <option value="8">Aug</option>
            <option value="9">Sep</option>
            <option value="10">Oct</option>
            <option value="11">Nov</option>
            <option value="12">Dec</option>
          </select>
        </div>
        <div class="col-md-4 ml-auto p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search ...">
            <button type="button" class="btn btn-secondary">
              <i class="bi-search"></i>
            </button>
          </div>
        </div> 
      </div>
      {% for message in messages %}
                    
                    <div class="fs-4 d-flex justify-content-center" style= " padding: 20px 0px 20px 0px;">
                      {{ message }}
                    </div>

                {% endfor %}
      <div class="table-responsive">
        <table class="col-lg-11 flex-column table table-bordered" id="chgTable">
          <thead>
            <tr>
              {% for item in column_list %}
                  <th scope="col">{{item}}</th>
              {% endfor %} 
            </tr>
          </thead>
          <tbody>
            
            {% for item in mem_chg_details %}  
            <tr> 
              {% for k,v in item.items %}         
              <td>{{v}}</td>            
              {% endfor %}
              <td>
                <div class="dropdown">
                  <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical" ></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item "  href="{% url 'charges_value_edit' name=name mem_bldng=item.building mem_flat=item.Flat_No mem_wing=item.wing%}">Edit Charges</a></li>
                    <li><hr class="dropdown-divider"></li>
                  </ul>
                </div>
              </td> 
            </tr> 
            {% endfor %}   
          
          </tbody>
        </table>
      </div>
      <div class="row d-flex justify-content-end">
            <div class="col-sm-1">
                <button type="button" class="btn btn-light">
                  <i class="bi bi-caret-left-fill"></i>
                </button>
            </div>
            <div class="col-sm-1">
                <button type="button" class="btn btn-light">
                    <i class="bi bi-caret-right-fill"></i>
                </button>
            </div>
      </div>
    </div>
   </section>

  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static '/js/main.js' %}"></script>
  
</body>

</html>