{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Add Member</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

   <!-- Google Fonts -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
   <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>

   <!-- Vendor CSS Files -->
   <link href="{% static '/vendor/aos/aos.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
   <link href="{% static '/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">   
   
   <!--Bootsrap 4 CDN-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
     
   <!--Fontawesome CDN-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
 
   <!-- Template Main CSS File -->
   <link href="{% static '/css/societystyle.css' %}" rel="stylesheet">

 </head>
 
 <body>
   <!-- Sidebar -->
  <nav class="sidebar">
                  
    <!-- close sidebar menu -->
    <div class="dismiss">
      <button class="btn btn-light" type="button" >
        <i class="bi bi-list" ></i>
      </button>
    </div>

    <div class="logo">
      <h1 class="text-light">
          <a href=""><span><b>Orange</b></span></a>
      </h1>
    </div>
    <div class="border-top my-3"></div>
    <div class="dropdown">
      <button class="btn btn-light btn-get-started scrollto" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bx bx-plus bx-sm"></i>
        <h4>Add New </h4>
        <a class="bi bi-chevron-double-down"></a>
      </button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="/add_new_society">Society</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/member_detail/ /">Members</a></li>
      </ul>
    </div>
    <div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-houses-fill"></i>
        </div>
        <h3 class="side-title"><a href="/society_detail">Society Detail</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-people-fill"></i>
        </div>
        <h3 class="side-title"><a href="/member_detail/ /">Member Detail</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-currency-rupee"></i>
        </div>
        <h3 class="side-title"><a href="/charges_detail/ /0">Charges Detail</a></h3>                      
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-file-earmark-text-fill"></i>
        </div>
        <h3 class="side-title"><a href="">Bill</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-receipt-cutoff"></i>
        </div>
        <h3 class="side-title"><a href="">Receipt</a></h3>                       
      </div>
      <div class="btn btn-sidebar d-flex align-items-stretch" type="button">
        <div class="sideicon">
            <i class="bi bi-recycle"></i>
        </div>
        <h3 class="side-title"><a href="">Ledger</a></h3>                       
      </div>
    </div>
    <div class="border-top my-3"></div>
    <div class = "button">
        <button class="btn-logout" type="logout"> 
          Logout
        </button>
    </div>
  </nav>  
  <!-- Dark overlay -->
  <div class="overlay">
  </div>

   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 class="text-light">
        <!--<a href="index.html"><img src="{%static '/img/logo.png' %}" alt="" class="img-fluid"></a>-->
            <a class="btn btn-light open-menu" href="#" role="button">
            <i class="bi bi-list" href=""></i>
            </a>
            <a href=""><span><b>Orange</b></span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
      </div>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="getstarted scrollto" href="">Upgrade</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
      </div>
   </header><!-- End Header -->

<!-- ======= add-member Section ======= -->
  <section id="add-member" class="d-flex align-items-top">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box d-flex align-self-stretch">
            <div class="icon col-md-3">
              <h4 class="society-name"><a href="">Society Name : </a></h4>
            </div>
            <div class="name d-flex align-items-center">
              <p>  {{name}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row gy-4 justify-content-between">
        <div class="col-lg-5  d-flex flex-column justify-content-top">
            <h1>Add New Member</h1>
         </div >
      </div>
      <form method="POST" action="/update_member">
        {% csrf_token %}
          <div class="row">
              <div class="form-group col-md-3">
                  <label for="date" >Date</label>
                      <div class="input-group date" id="datePicker">
                          <input type="date" class="form-control" id="datePicker1" disabled="True">
                          <span class="input-group-append">
                              <span class="input-group-text bg-white">
                                  <i class="bi bi-calendar-event-fill"></i>
                              </span>
                          </span>
                      </div>
              </div>
              <div class="form-group col-md-3">
                  <label for="member_id">Member ID</label>
                  <input type="text" name="member_id" class="form-control" id="member_id" placeholder="Member_id" disabled>
              </div>
              <div class="col-md-6">
                  <label for="Member_name">Member_Name</label>
                  <div class="input-group">
                      <span class="input-group-text">
                      <span class="bi bi-people-fill"></span>
                      </span>
                      <input type="text" value = {{mem_details.Member_Name}} name = "Member_Name" class="form-control" placeholder="Enter Full Name">
                  </div>
              </div>
          </div>
          <div class = "row">
              <div class="form-group col-md-3">
                  <label for="PAN_Number">PAN #</label>
                  <input type="text" value ={{mem_details.PAN_Number}}  name="PAN_Number" class="form-control" id="PAN_Number" placeholder="PAN_Number" required>
              </div>
              <div class="form-group col-md-3">
                  <label for="Aadhar_Number">Aadhar #</label>
                  <input type="text" value ={{mem_details.Aadhar_Number}}  name="Aadhar_Number" class="form-control" id="Aadhar_Number" placeholder="Aadhar_Number" required>
              </div>
              <div class="form-group col-md-3">
                  <label for="Bill_Number">Balance</label>
                  <input type="text" value = {{mem_details.Balance}} name="Balance" class="form-control" id="Balance" placeholder="Opening Balance" required>
              </div>
              <div class="form-group col-md-3">
                  <label for="conatct_number">Contact #</label>
                  <input type="text" value = {{mem_details.Contact_Number}} name="Contact_Number" class="form-control" id="Contact_Number" placeholder="contact_number" required>
              </div>
          </div>
          <div class = "row">
              <div class="form-group col-md-3">
                  <label for="flat_number">Flat #</label>
                  <input type="text" value = {{mem_details.Flat_No}} name="Flat_No" class="form-control" id="Flat_No" placeholder="flat_No" disabled>
              </div>
              <div class="form-group col-md-3">
                  <label for="building">Building #</label>
                  <input type="text" value ={{mem_details.building}}  name="building" class="form-control" id="building" placeholder="building_name/number" disabled>
              </div>
              <div class="form-group col-md-3">
                <label for="wing">Wing #</label>
                <input type="text" value ={{mem_details.wing}}  name="wing" class="form-control" id="wing" placeholder="wing name" disabled>
            </div>
          </div>
          <div class = "row justify-content-end">
              <div class="col-sm-2" >
                  <button class="btn btn-submit" type="submit"> 
                  Submit
                  </button>
              </div>
          </div> 
      </form>
    </div>  
  </section>

  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("datePicker1").valueAsDate = new Date();
    });
</script>

<script>
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());

    var optSimple = {
      format: 'mm-dd-yyyy',
      todayHighlight: true,
      orientation: 'bottom right',
      autoclose: true,
      container: '#sandbox'
    };

    var optComponent = {
      format: 'mm-dd-yyyy',
      container: '#datePicker',
      orientation: 'auto top',
      todayHighlight: true,
      autoclose: true
    };

    // COMPONENT
    $( '#datePicker' ).datepicker( optComponent );

</script> 
 
  <!-- Vendor JS Files -->
  <script src="{% static '/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/vendor/php-email-form/validate.js' %}"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static '/js/main.js' %}"></script>

</body>

</html>