{% extends "baseAfterLogin.html" %}
{% block body %}
    <div class="item-detail">
        <h2> Select Charges Types</h2>
        <p>{{ societyName }}</p>
    </div>

    <div class="form-check mx-5"  >
    <form method="POST" action="selectChargesFields">
    {% csrf_token %}
      <p>
      <input class="form-check-input" type="checkbox" id="check1" name="elcty" value="elcty" checked>
      <label class="form-check-label">Electricity Charges</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="wtrbll" value="wtrbll" checked>
      <label class="form-check-label">Water Bill</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="prkng" value="prkng" checked>
      <label class="form-check-label">Parking</label>
      </p>
      <p>     
      <input class="form-check-input" type="checkbox" id="check1" name="mncpl" value="mncpl" checked>
      <label class="form-check-label">Municipal Charges</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="snkng" value="snkng" checked>
      <label class="form-check-label">Sinking</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="nccpncy" value="nccpncy" checked>
      <label class="form-check-label">Non Occupancy</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="pnlty" value="pnlty" checked>
      <label class="form-check-label">Penalty</label>
      </p>
      <input type="hidden" id="custId" name="societyName" value={{societyName}}>
      <input type="hidden" id="custId" name="regno" value={{regno}}>
      <input type="hidden" id="custId" name="address" value={{address}}>
      <button type="submit" class="btn btn-primary">Add</button>
  </form>
    </div>
 


{% endblock %}