{% extends "baseAfterLogin.html" %}
{% block body %}
    <div class="item-detail">
        <h2> Select Charges Types</h2>
        <p>{{ societyName }}</p>
    </div>

    <div class="form-check mx-5"  >
    <form method="POST" action="selectChargesFields">
    {% csrf_token %}
      <p>
      <input class="form-check-input" type="checkbox" id="check1" name="Electricity_Charges" value="Electricity_Charges" checked>
      <label class="form-check-label">Electricity Charges</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="Water_Charges" value="Water_Charges" checked>
      <label class="form-check-label">Water Bill</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="Municipal_Tax" value="Municipal_Tax" checked>
      <label class="form-check-label">Parking</label>
      </p>
      <p>     
      <input class="form-check-input" type="checkbox" id="check1" name="Maintainance_Charges" value="Maintainance_Charges" checked>
      <label class="form-check-label">Municipal Charges</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="Service_Charges" value="Service_Charges" checked>
      <label class="form-check-label">Sinking</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="Sinking_Fund" value="Sinking_Fund" checked>
      <label class="form-check-label">Non Occupancy</label>
      </p>
      <p>      
      <input class="form-check-input" type="checkbox" id="check1" name="Repair_Fund" value="Repair_Fund" checked>
      <label class="form-check-label">Penalty</label>
      </p>
      
      <button type="submit" class="btn btn-primary">Add</button>
  </form>
    </div>
 


{% endblock %}