{% extends "baseAfterLogin.html" %}
{% block body %}
{% load crispy_forms_tags %}
{% load custom %}


   <table class="socMember">
      <h2> Member Details </h2>
      <p>{{ item.societyName }}</p>
      <tr>
          {% for display_items in display_charges %}
          
          <td>{{ display_items }}</td>
        
        {% endfor %}
      </tr>
        
        {% for query_item in query_results %}
        <tr> 
          {% for display_items in display_charges %}

              <td>{{ query_item|get_obj_attr:display_items }}</td>
            {% endfor %}
            <td><a href="{% url 'editMemberDetails' name=item.societyName memberName=query_item %}" class="btn btn-info" role="button">Edit</a></td>
            <td><a href="{% url 'deleteMember' name=item.societyName memberName=query_item %}" class="btn btn-danger" role="button">Delete</a></td>
        </tr>
        {% endfor %}
      </table>
  
    


  <div class="item-detail">
  <form class="px-4 w-10 p-3" method="POST" action="societyMembers">
    {% csrf_token %}
    <h2> Add Member </h2>
    {% for field in form %}
            {%if field.label in display_charges%}  
                <p>{{ field.label}}</p>          
                <p>{{ field|as_crispy_field }}</p>
            {%endif%}
        {% endfor %}
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>

<div class="mb-3">
  <form class="px-4 w-10 p-3" method="POST" action="uploadMemberDetails"  enctype="multipart/form-data">
    {% csrf_token %}
    <input class="form-control" type="file" name="file">
    <input type="submit" value="Upload" />
  </form>
</div>


{% endblock %}